@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <br />
    <br />
    <form class="form-inline" method="post">
        <div class="form-group date">
            <label class="sr-only" for="from-date"></label>
            <input type="datetime-local" name="from-date" class="form-control" id="from-date" >
        </div>
        <div class="form-group date">
            <label class="sr-only" for="to-date"></label>
            <input type="datetime-local" name="to-date" class="form-control" id="to-date">
        </div>
        <div class="form-group">
            <label class="sr-only" for="segmentName">Password</label>
            <input type="text" class="form-control" name="segmentName" id="segmentName" placeholder="B_OW">
        </div>
        <button type="submit" class="btn btn-default">Fetch Files</button>
    </form>
</div>
